//導覽列
nav.navbar.navbar-default.navbar-fixed-top.at_top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#header_index') JYUN's Portfolio
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#section_01') About
        li
          a(href='#section_02')
            | 08online
            span.sr-only (current)
        li
          a(href='#section_03') BarvoOnline
        li  
          a(href='#section_04') 08web.Banner
        li
          a(href='#section_05') 08web.Design
        //- li
          a(href='#section_08.Banner') 08.Banner
          
    .nav-collapse

//首頁
header#header_index
  .container
    img.Logoicon(src="https://jyun886.github.io/test/Logo2.svg")
    img.marginbottom.mountain(src="https://jyun886.github.io/test/h_polygon2.svg")
  .explore.at_top 往下看
  
//關於
section#section_about
  #section_01
  .container#about_pic1
    img(src="https://jyun886.github.io/images/section_about3-1.png", alt="")
  .container#about_pic2
    img(src="https://jyun886.github.io/images/section_about3-2.png", alt="")
  .container#about_pic3
    img(src="https://jyun886.github.io/images/section_about3-3.png", alt="")
  .container#about_main
    img(src="https://jyun886.github.io/images/section_about3.png", alt="")
  //- .container#about 
  .container_rotate
    .a_c_grop
      img.bg_l_01(src="https://jyun886.github.io/test/bg_line_01.svg", alt="")
      img.bg_l_02(src="https://jyun886.github.io/test/bg_line_02.svg", alt="")
      img.bg_design_01(src="https://jyun886.github.io/test/bg_design_01.svg", alt="")
      //- img.bg_design_02(src="https://jyun886.github.io/test/bg_design_02.svg", alt="")
      img.bg_design_03(src="https://jyun886.github.io/test/bg_design_04.svg", alt="")
      //- img.bg_design_04(src="https://jyun886.github.io/test/bg_design_05.svg", alt="")
  
//-----------------------------------------------
//老子專案1
section#section_08online
  .space_div
  #section_02
  .container#feature
  .bottom_div
  .orange_div
//- ----------------------------------------------
//角子專案1
section#section_BarvoOnline
  .space_div
    .gray_div
  #section_03
  .container#feature
  .orange_div
  .gray_div
//- ----------------------------------------------
//老子官網Banner
section#section_08webBanner
  .space1_div
  .space2_div
  #section_04
  .container#webbanner1
    .btn_grop
      .btn1_div
        label(for='slider_20') 
      .btn2_div
        label(for='slider_20') 
      .btn3_div
        label(for='slider_21') 
      .btn4_div
        label(for='slider_22') 
      .btn5_div
        label(for='slider_23') 
      .btn6_div
        label(for='slider_24') 
      .btn7_div
        label(for='slider_25') 
      .btn8_div
        label(for='slider_26') 
      .btn9_div
        label(for='slider_27') 
    .web_viewer         
        input#slider_19(type='radio', name='silder', checked='true')
        input#slider_20(type='radio', name='silder')
        input#slider_21(type='radio', name='silder')
        input#slider_22(type='radio', name='silder')
        input#slider_23(type='radio', name='silder')
        input#slider_24(type='radio', name='silder')
        input#slider_25(type='radio', name='silder')
        input#slider_26(type='radio', name='silder')
        input#slider_27(type='radio', name='silder')
        .window_viewer
            img(src='https://jyun886.github.io/images/155x350.png', alt=' ')
            .cont18
              .viwer_images
                img(src='https://jyun886.github.io/images/710x29.png', alt=' ')
            .cont19
              .viwer_images
                img(src='https://jyun886.github.io/images/710x29.png', alt=' ')
            .cont20
              .viwer_images
                img(src='https://jyun886.github.io/images/155x125.png', alt='')
            .cont21
              .viwer_images
                img(src='https://jyun886.github.io/images/155x350.png', alt='')
            .cont22
              .viwer_images
                img(src='https://jyun886.github.io/images/155x180.png', alt='')
            .cont23
              .viwer_images
                img(src='https://jyun886.github.io/images/159x110.png', alt='')
            .cont24
              .viwer_images
                img(src='https://jyun886.github.io/images/680x620.png', alt='')
            .cont25
              .viwer_images
                img(src='https://jyun886.github.io/images/800x368.png', alt='')
            .cont26
              .viwer_images
                img(src='https://jyun886.github.io/images/58x393.png', alt='')

  .space3_div
  .container#webbanner2
    .animate1_div
    .animate2_div
    
    .wbb_navmenu.menu_css
      .owl-demo
        .wbb_page
          a.item_single.item.item_icon1(href='https://s.codepen.io/Jyun/debug/ypXZwB/mVMbGExnEKLr', target='_blank')
            .bottom.text 155x350

    .background_img
//- ----------------------------------------------
//老子web
section#section_08web
  .space_div
  #section_05
  .container#web
    .web_viewer         
      input#slider_1st(type='radio', name='silder', checked='true')
      input#slider_2nd(type='radio', name='silder')
      input#slider_3th(type='radio', name='silder')
      input#slider_4th(type='radio', name='silder')
      input#slider_5th(type='radio', name='silder')
      input#slider_6th(type='radio', name='silder')
      input#slider_7th(type='radio', name='silder')
      input#slider_8th(type='radio', name='silder')
      input#slider_9th(type='radio', name='silder')
      input#slider_10(type='radio', name='silder')
      input#slider_11(type='radio', name='silder')
      input#slider_12(type='radio', name='silder')
      input#slider_13(type='radio', name='silder')
      input#slider_14(type='radio', name='silder')
      input#slider_15(type='radio', name='silder')
      input#slider_16(type='radio', name='silder')
      input#slider_17(type='radio', name='silder')
      input#slider_18(type='radio', name='silder')
      .window_viewer
          img(src='https://jyun886.github.io/images/web_a25.jpg', alt=' ')
          .cont
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a25.jpg', alt=' ')
          .cont1
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a24.jpg', alt=' ')
          .cont2
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a23.jpg', alt='')
          .cont3
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a22.jpg', alt='')
          .cont4
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a21.jpg', alt='')
          .cont5
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a20.jpg', alt='')
          .cont6
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a19.jpg', alt='')
          .cont7
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a18.jpg', alt='')
          .cont8
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a17.jpg', alt='')
          .cont9
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a16.jpg', alt='')
          .cont10
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a15.jpg', alt='')
          .cont11
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a14.jpg', alt='')
          .cont12
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a13.jpg', alt='')
          .cont13
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a12.jpg', alt='')
          .cont14
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a11.jpg', alt='')
          .cont15
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a10.jpg', alt='')
          .cont16
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a09.jpg', alt='')
          .cont17
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a08.jpg', alt='')
          .cont18
            .viwer_images
              img(src='https://jyun886.github.io/images/web_a07.jpg', alt='')

    .wbb_navmenu.menu_css
      .owl-demo
        .wbb_page
          .item.item_icon1
            .bottom.text 天天送50萬
            label(for='slider_1st')
          .item.item_icon2
            .bottom.text 阿拉丁
            label(for='slider_2nd')
          .item.item_icon3
            .bottom.text 摸彩趣
            label(for='slider_3th')
          .item.item_icon5
            .bottom.text 將軍連開
            label(for='slider_4th')
          .item.item_icon6
            .bottom.text 西堤粉絲
            label(for='slider_5th')
          .item.item_icon7
            .bottom.text 金剛
            label(for='slider_6th')
          .item.item_icon8
            .bottom.text 夏日出遊趣
            label(for='slider_7th')
          .item.item_icon9
            .bottom.text 亞瑟王
            label(for='slider_8th')
          .item.item_icon10
            .bottom.text 新手好康送
            label(for='slider_9th')

        .wbb_page
          .item.item_icon11
            .bottom.text 端午出任務
            label(for='slider_10')
          .item.item_icon12
            .bottom.text 白金尊榮日
            label(for='slider_11')
          .item.item_icon13
            .bottom.text 老子大放送
            label(for='slider_12')
          .item.item_icon14
            .bottom.text 最敢送II
            label(for='slider_13')
          //- .item_icon14
            .bottom.text 最敢送I
            label(for='slider_14')
          .item.item_icon15
            .bottom.text 雙喜迎新
            label(for='slider_15')
          .item.item_icon16
            .bottom.text 秦皇傳
            label(for='slider_16')
          .item.item_icon17
            .bottom.text 金鈎盃
            label(for='slider_17')
          .item.item_icon18
            .bottom.text 最敢送I
            label(for='slider_18')